.btn {
    border: none;
    width: 400px;
    height: 80px;
    font-size: 36px;
    font-weight: 600;
    background: $main-color;
    border-radius: 20px;
    color: $white;
    text-transform: uppercase;
    @include inner-items-center;
    &:hover {
        color: $white;
    }
    &_main {
        margin-top: 60px;
    }
    &_card {
        width: 250px;
        height: 35px;
        background: $main-color;
        border-radius: 10px;
        margin: 10px 5px 5px;

        font-weight: 600;
        font-size: 18px;
    }
    &_cart {
        width: 500px;
        height: 60px;
        font-size: 24px;
        margin: 50px auto 0;
    }
}

.title {
    font-weight: bold;
    font-size: 52px;
    line-height: 63px;
    color: $black;
    text-align: center;
    margin-bottom: 50px;
}