.about {
    min-height: 1880px;
    background: $white-bg-color;
    padding: 100px 0 50px;
}

.about-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    &__img {
        min-width: 490px;
        min-height: 440px;
        margin-right: 100px;
        &_right {
            margin-right: 0;
            margin-left: 100px;
        }
    }
    &__text {
        font-weight: bold;
        font-size: 36px;
        color: $black;
        max-width: 415px;
    }
}